<div class="row">
    <div class="col-xs-6">
        <table class="table table-responsive">
            <caption class="caption text-center">
                <h3 style="margin-top: 0;">{{ books.book.name }}</h3>
            </caption>
            <tbody>
                <tr>
                    <td>Оригинальное название</td>
                    <td>{{ books.book.originalName }}</td>
                </tr>
                <tr>
                    <td>Автор</td>
                    <td>{{ books.book.author }}</td>
                </tr>
                <tr>
                    <td>Жанр</td>
                    <td>{{ books.book.genre }}</td>
                </tr>
                <tr>
                    <td>Серия</td>
                    <td>{{ books.book.series }}</td>
                </tr>
                <tr>
                    <td>Год</td>
                    <td>{{ books.book.year }}</td>
                </tr>
                <tr>
                    <td>Издательство</td>
                    <td>{{ books.book.publisher }}</td>
                </tr>
                <tr>
                    <td>Язык оригинала</td>
                    <td>{{ books.book.sourceLanguage }}</td>
                </tr>
                <tr>
                    <td>ISBN</td>
                    <td>{{ books.book.ISBN }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-6">
        <div class="thumbnail">
            <img ng-src="{{ books.book.src }}" alt="{{ books.book.name }}">
        </div>
    </div>
</div>
<p>{{ books.book.description }}</p>
